<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-note-form [note]="noteToChange" [onEdit]="onEdit" (CreateNote)="onCreateNote($event)" (UpdateNote)="onUpdateNote($event)" ></app-note-form>
  <app-note-elements [notes]="notes" [onEdit]="onEdit" (ChangeNote)="changeNote($event)" (DeleteNote)="onDeleteNote($event)"></app-note-elements>
</body>
</html>